//- Подключаем конфиг с переменными
block config
	include _config.pug

//- Подключаем компоненты с миксинами
include ../../components/button/button

doctype html
html(lang="ru-RU")
	head
		include _head.pug
		block title 
			title #{headTitle}

		//css
		block cssLinks
			link(rel="stylesheet" href=cssPath+"/slick.css")
			link(rel="stylesheet" href=cssPath+"/main.css")

	body
		.b-body.j-body
		
			// Шапка
			
			header.l-header
				include _header.pug

			// Контент
			main.l-content
				block content

			// Подвал
			footer.l-footer
				include _footer.pug

		// Всплывающие окна
		include ../section/popup

		// Мобильное меню
		include ../../components/mobileMenu/mobileMenu

		// Темная подложка
		include ../../components/overlay/overlay

		// Спрайт
		include sprite.html
					
		// script
		block scripts
			script(src="./js/app.min.js")
