-
mixin slickItem()
	.b-slider__item
		if block
			block
		else
-;


.b-slider
	.b-slider__content.j-slider-main
		+slickItem
			.b-slider__item-img(style="background-image: url(./img/mainSlide.jpg);")
			.b-slider__item-img-mobile(style="background-image: url(./img/mainSlideMobile.jpg);")
			.b-container
				.b-slider__item-content
					h2.b-slider__item-title TRAILHEAD WEAR <br />INDASTREE
					p.b-slider__item-text С гордостью разработано и произведено в России
					+button('#', 'Мужская одежда')(class="b-slider__item-button")
					+button('#', 'Женская одежда')(class="b-slider__item-button")
		+slickItem
			.b-slider__item-img(style="background-image: url(./img/mainSlide.jpg);")
			.b-slider__item-img-mobile(style="background-image: url(./img/mainSlideMobile.jpg);")
			.b-container
				.b-slider__item-content
					h2.b-slider__item-title TRAILHEAD WEAR <br />INDASTREE
					p.b-slider__item-text С гордостью разработано и произведено в России
					+button('#', 'Мужская одежда')(class="b-slider__item-button")
					+button('#', 'Женская одежда')(class="b-slider__item-button")
		+slickItem
			.b-slider__item-img(style="background-image: url(./img/mainSlide.jpg);")
			.b-slider__item-img-mobile(style="background-image: url(./img/mainSlideMobile.jpg);")
			.b-container
				.b-slider__item-content
					h2.b-slider__item-title TRAILHEAD WEAR <br />INDASTREE
					p.b-slider__item-text С гордостью разработано и произведено в России
					+button('#', 'Мужская одежда')(class="b-slider__item-button")
					+button('#', 'Женская одежда')(class="b-slider__item-button")
	.b-slider__controls
		.b-slider__control.prev.j-main-slide-prev
			svg(width="16px" height="80px")
				use(xlink:href="#icon-prev")
		.b-slider__control.next.j-main-slide-next
			svg(width="16px" height="80px")
				use(xlink:href="#icon-next")