//- Миксин иконок
-
mixin social(items)
	.b-social
		each item in items
			a.b-social__link(href=item.href)
				svg.b-social__svg(width=item.svgWidth height=item.svgHeight)
					use(xlink:href=item.svgHref)
-;

//- Добавляем иконки

+social([

	{
		'href': '#',
		'svgWidth': '20px',
		'svgHeight': '20px',
		'svgHref': '#icon-vk'
	},
	{
		'href': '#',
		'svgWidth': '20px',
		'svgHeight': '20px',
		'svgHref': '#icon-fb'
	},
	{
		'href': '#',
		'svgWidth': '20px',
		'svgHeight': '20px',
		'svgHref': '#icon-inst'
	},
	{
		'href': '#',
		'svgWidth': '20px',
		'svgHeight': '20px',
		'svgHref': '#icon-youtube'
	}

])