-
mixin progressBarRadial(items)
	.b-progress__list.j-progress__list
		each item in items
			.b-progress__item.j-progress__item
				.b-progress__item-wrap
					.b-progress__item-timer
						span.b-progress__item-timer-number.j-progress-number #{item.number}
						span %
					svg.b-progress__item-circle(width="110", height="110")
						circle.b-progress__item-circle-first(r="45" cx="50%" cy="50%" fill="none")
						circle.b-progress__item-circle-second(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class=item.class)
				.b-progress__item-text #{item.text}
-;

+progressBarRadial([
	{'number': '85', 'text': 'html / html5', "class": 'b-progress__item-circle-85'},
	{'number': '80', 'text': 'CSS / CSS3', "class": 'b-progress__item-circle-80'},
	{'number': '20', 'text': 'javascript', "class": 'b-progress__item-circle-20'},
	{'number': '50', 'text': 'jQuery', "class": 'b-progress__item-circle-50'}
])