extends layout/_layout.pug

//- Блок переменных
append config
	- var currentURL = 'index.html';

//- Блок контента страницы

block content

	// Главный экран
	include section/mainScreen

	// Блок наши преимущества
	include section/ourAdvantages

	// Блок с баннерами
	include section/banners

	// Блок с логотипами
	include section/logoBrands

	// Блок лучшие товары
	include section/bestProducts

	// Блок о нас
	include section/aboutSection
	