.b-about-section
	.b-container
		.b-about-section-content-wrapper
			.b-about-section-content
				h2.b-about-section-content__title Интернет магазин модной уличной одежды
				.b-about-section-content__logo
					svg(width="320px" height="47px")
						use(xlink:href="#icon-logo")
				.b-about-section-content__text
					p 34Play - это уличная молодежная одежда. Это свобода и стиль жизни. Это сеть розничных магазинов в Санкт-Петербурге и Москве, а также доставка по России и миру. 34Play - это лучшие бренды уличной и спортивной одежды: американский Converse, японский Asics, питерский Trailhead и легендарный Thrasher.
		.b-about-section-button-wrapper
			a.b-button-custom.b-about-section-button(href="#") Подробнее