.b-banners
	.b-container
		.b-banners__list
			.b-banners__item
				a.b-banners__item-link(href="#")
					img.j-image-polyfill(src="./img/banner/banner1.jpg", alt="Картинка")
					img.j-image-polyfill.b-banner-small(src="./img/banner/banner1-small.jpg", alt="Картинка")
			.b-banners__item
				a.b-banners__item-link(href="#")
					img.j-image-polyfill(src="./img/banner/banner2.jpg", alt="Картинка")
					img.j-image-polyfill.b-banner-small(src="./img/banner/banner2-small.jpg", alt="Картинка")
				a.b-banners__item-link(href="#")
					img.j-image-polyfill(src="./img/banner/banner3.jpg", alt="Картинка")
					img.j-image-polyfill.b-banner-small(src="./img/banner/banner3-small.jpg", alt="Картинка")
			.b-banners__item
				a.b-banners__item-link(href="#")
					img.j-image-polyfill(src="./img/banner/banner4.jpg", alt="Картинка")
					img.j-image-polyfill.b-banner-small(src="./img/banner/banner4-small.jpg", alt="Картинка")
				a.b-banners__item-link(href="#")
					img.j-image-polyfill(src="./img/banner/banner5.jpg", alt="Картинка")
					img.j-image-polyfill.b-banner-small(src="./img/banner/banner5-small.jpg", alt="Картинка")
			.b-banners__item
				a.b-banners__item-link(href="#")
					img.j-image-polyfill(src="./img/banner/banner6.jpg", alt="Картинка")
					img.j-image-polyfill.b-banner-small(src="./img/banner/banner6-small.jpg", alt="Картинка")