.b-logoBrands
	.b-container
		.b-logoBrands-slider
			.b-logoBrands-slider__content.j-logoBrands-slider
				.b-logoBrands-slider__item
					img(src="./img/asicsTiger.png", alt="Картинка")
				.b-logoBrands-slider__item
					img(src="./img/converse.png", alt="Картинка")
				.b-logoBrands-slider__item
					img(src="./img/trailhead.png", alt="Картинка")
				.b-logoBrands-slider__item
					img(src="./img/thrasher.png", alt="Картинка")
				.b-logoBrands-slider__item
					img(src="./img/lumberjack.png", alt="Картинка")
				.b-logoBrands-slider__item
					img(src="./img/affex.png", alt="Картинка")
			.b-logoBrands-slider__controls
				.b-logoBrands-slider__control.b-logoBrands-slide-prev.j-logoBrands-prev
					svg(width="15px" height="48px")
						use(xlink:href="#icon-prev-small")
				.b-logoBrands-slider__control.b-logoBrands-slide-next.j-logoBrands-next
					svg(width="15px" height="48px")
						use(xlink:href="#icon-next-small")