.b-ourAdvantages
	.b-container
		.b-ourAdvantages-slider
			.b-ourAdvantages-slider__content.j-ourAdvantages-slider
				.b-ourAdvantages-slider__item
					.b-ourAdvantages-slider__item-left
					.b-ourAdvantages-slider__item-right
						.b-ourAdvantages-slider__item-img
							svg.b-ourAdvantages-slider__item-icon(width="52px" height="29px")
								use(xlink:href="#icon-delivery")
						.b-ourAdvantages-slider__item-text Курьерская доставка <br /> по всей России

				.b-ourAdvantages-slider__item
					.b-ourAdvantages-slider__item-left
					.b-ourAdvantages-slider__item-right
						.b-ourAdvantages-slider__item-img
							svg.b-ourAdvantages-slider__item-icon(width="45px" height="50px")
								use(xlink:href="#icon-clothes")
						.b-ourAdvantages-slider__item-text Несколько размеров <br /> на выбор и бесплатная примерка

				.b-ourAdvantages-slider__item
					.b-ourAdvantages-slider__item-left
					.b-ourAdvantages-slider__item-right
						.b-ourAdvantages-slider__item-img
							svg.b-ourAdvantages-slider__item-icon(width="40px" height="42px")
								use(xlink:href="#icon-payment")
						.b-ourAdvantages-slider__item-text Удобные способы оплаты: наличные; электронные платежи

				.b-ourAdvantages-slider__item
					.b-ourAdvantages-slider__item-left
					.b-ourAdvantages-slider__item-right
						.b-ourAdvantages-slider__item-img
							svg.b-ourAdvantages-slider__item-icon(width="40px" height="40px")
								use(xlink:href="#icon-time")
						.b-ourAdvantages-slider__item-text Возврат товара <br /> в течение 14 дней
			.b-ourAdvantages-slider__controls
				.b-ourAdvantages-slider__control.b-prev.j-ourAdvantages-slide-prev
					svg(width="15px" height="48px")
						use(xlink:href="#icon-prev")
				.b-ourAdvantages-slider__control.b-next.j-ourAdvantages-slide-next
					svg(width="15px" height="48px")
						use(xlink:href="#icon-next")