.b-instagram
	.b-container
		h2.b-title.b-instagram-title Следите за нами в инстаграм
		p.b-instagram-text &#64;34play
	.b-instagram-slider
		.b-instagram-slider__content.j-instagram-slider
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img1.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img2.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img3.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img4.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img5.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img6.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img7.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img8.jpg", alt="Картинка")
			a.b-instagram-slider__item(href="#", target="_blank")
				img.j-image-polyfill(src="./img/instagram/img8.jpg", alt="Картинка")
		.b-instagram-slider__controls
			.b-instagram-slider__control.prev.j-instagram-prev
				svg(width="20px" height="82px")
					use(xlink:href="#icon-prev")
			.b-instagram-slider__control.next.j-instagram-next
				svg(width="20px" height="82px")
					use(xlink:href="#icon-next")