$buttonTop-bgColor: #414442;
$buttonTop-blue: #02A8F4;
$buttonTop-white: #ffffff;

.b-buttonTop {
	display: block;
	width: 70px;
	height: 70px;
	background: $buttonTop-bgColor;
	border-radius: 50%;
	border: 1px solid $buttonTop-blue;
	position: absolute;
	top: 87px;
	right: 0;
	cursor: pointer;
	box-shadow: 0 0 0 0 rgba($buttonTop-blue, 0.3);
	transition: all ease 0.5s;
	animation: pulseButtonTop infinite 2.5s;

	&:before {
		content: "";
		width: 15px;
		height: 15px;
		border: 3px solid $buttonTop-white;
		border-right: 0;
		border-bottom: 0;
		border-radius: 5px 0 0 0; 
		position: absolute;
		top: 44%;
		left: 0; right: 0;
		margin: auto;
		transform: rotate(45deg);
	}
}

@keyframes pulseButtonTop {
	0%, 100% {
		box-shadow: 0 0 0 0 rgba($buttonTop-blue, 0.3);
	}
	50% {
		box-shadow: 0 0 20px 5px rgba($buttonTop-blue, 0.3);
	}
}