// setting vars
$containerWidth: 1320px;


// setting style
*,*:before, *:after {box-sizing: border-box;}

html {
	font-size: 16px;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	@include proxima();
	font-size: 1rem;
	color: $text;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	background-color: $white;
}

input, textarea {
   -webkit-appearance: none;
   box-shadow: none;
   -webkit-box-shadow: none;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;

   &:focus {
   	outline: 0;
   }
}

select, textarea {
	&:focus {
   	outline: 0;
   }
}

ol, ul {
	padding: 0;
	margin: 0;
}

p {margin: 0; padding: 0;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
.clear {clear: both;}
.clearfix:after {
	clear: both;
	content: "";
	display: table;
}

strong {
	@include proxima(bold);
}

//Для картинок
img {max-width: 100%;}

img.j-image-polyfill {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover';
}

// Класс для скрытия блока
.hide {display: none;}
// Класс для показа блока
.show {display: block;}

.b-container {
	max-width: $containerWidth;
	margin: 0 auto;
	padding: 0 10px;

	@include laptop {
		max-width: 992px
	}

	@include tablets-landscape {
		max-width: 768px;
	}

	@include tablets {
		max-width: 480px;
	}

	@include mobile {
		max-width: 100%;
	}
}

.b-title {
	@include bebas();
	font-size: rem(36px);
	color: $title;
	line-height: 40px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	text-align: center;
	font-weight: inherit;
	margin: 0;
	margin-bottom: 18px;

	@include tablets-landscape {
		font-size: rem(30px);
		line-height: 34px;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	@include mobile {
		font-size: rem(26px);
		line-height: 32px;
		letter-spacing: 0.6px;
		margin-bottom: 6px;
	}
}

.b-button-custom {
	@include inlineBlock();
	position: relative;
	width: 174px;
	height: 40px;
	font-size: rem(12px);
	line-height: 40px;
	color: $black;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: $white;
	
	&:before {
		content: "";
		width: 100%;
		height: 12px;
		border: 3px solid $red;
		border-bottom: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transition: height ease 0.3s;
	}

	&:after {
		content: "";
		width: 100%;
		height: 12px;
		border: 3px solid $red;
		border-top: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		transition: height ease 0.3s;
	}

	&:hover {
		&:before, &:after {
			height: 50%;
		}
	}
}